body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:272px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:1024px;
  height:272px;
  display:flex;
}
#u941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:156px;
  width:795px;
  height:76px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
}
#u942 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u942_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
  text-align:justify;
  text-justify:inter-word;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:340px;
  width:1024px;
  height:119px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
  text-align:justify;
  text-justify:inter-word;
}
#u943 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:523px;
  width:1024px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0186300192856229deg);
  -moz-transform:rotate(0.0186300192856229deg);
  -ms-transform:rotate(0.0186300192856229deg);
  transform:rotate(0.0186300192856229deg);
}
#u944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:484px;
  width:128px;
  height:24px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u945 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u945_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:541px;
  width:180px;
  height:120px;
}
#u946_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u946_state0_content {
  left:-1px;
  top:-1px;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:116px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:116px;
  display:flex;
}
#u947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:541px;
  width:827px;
  height:104px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
}
#u948 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:796px;
  width:1024px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0186300192856229deg);
  -moz-transform:rotate(0.0186300192856229deg);
  -ms-transform:rotate(0.0186300192856229deg);
  transform:rotate(0.0186300192856229deg);
}
#u949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:811px;
  width:180px;
  height:120px;
}
#u950_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u950_state0_content {
  left:-1px;
  top:-1px;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:120px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:120px;
  display:flex;
}
#u951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:811px;
  width:827px;
  height:104px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
}
#u952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:655px;
  width:833px;
  height:112px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:925px;
  width:833px;
  height:84px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u954 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:1052px;
  width:1024px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0186300192856229deg);
  -moz-transform:rotate(0.0186300192856229deg);
  -ms-transform:rotate(0.0186300192856229deg);
  transform:rotate(0.0186300192856229deg);
}
#u955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1067px;
  width:180px;
  height:120px;
}
#u956_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u956_state0_content {
  left:-1px;
  top:-1px;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:120px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:180px;
  height:120px;
  display:flex;
}
#u957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1067px;
  width:828px;
  height:104px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
}
#u958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1198px;
  width:857px;
  height:84px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u960 {
  position:fixed;
  left:-5000px;
  top:0px;
  width:16000px;
  height:80px;
}
#u960_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16000px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:20010px;
  height:55px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:-500px;
  top:0px;
  width:20000px;
  height:45px;
  display:flex;
  color:#FFFFFF;
}
#u961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u962 {
  position:fixed;
  left:50%;
  margin-left:-507.5px;
  top:3px;
}
#u962_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1015px;
  height:40px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  display:flex;
}
#u963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:8px;
  width:54px;
  height:24px;
  display:flex;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u964_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:8px;
  width:79px;
  height:24px;
  display:flex;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u965 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:8px;
  width:84px;
  height:24px;
  display:flex;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u966 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u966_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:8px;
  width:101px;
  height:24px;
  display:flex;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u967 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u967_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:8px;
  width:179px;
  height:24px;
  display:flex;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u968 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u968_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:8px;
  width:99px;
  height:24px;
  display:flex;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u969 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u969_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 97, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:transparent;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1322px;
  width:1024px;
  height:76px;
  display:flex;
  color:transparent;
}
#u970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1312px;
  width:1024px;
  height:1px;
  display:flex;
}
#u971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1335px;
  width:297px;
  height:55px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
}
#u972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u972_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1335px;
  width:136px;
  height:55px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u973 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u973_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:1354px;
  width:125px;
  height:13px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
}
#u974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u974_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
